*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-primary: #ededed;
  --background-secondary: #fff;
  --text-color: #000000e6;
  --border-color: #bfbfbf;
  --box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  --brand-color: #3483fa;
  --brand-color-hover: #3075db;
  --status-color: #ccc;
  --status-color-high: #00a650;
  --status-color-medium: #f5a623;
  --status-color-low: #d0021b;

  --font-family: "Proxima Nova", sans-serif;

  --title: 600 24px var(--font-family);
  --button: 600 14px var(--font-family);
  --label: 600 12px var(--font-family);
  --result: 400 24px var(--font-family);
  --input: 400 16px var(--font-family);
  --cent: 400 12px var(--font-family);
}

body {
  background-color: var(--background-primary);
  height: 100vh;
  color: var(--text-color);
  font: var(--input);
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  padding: 2rem 4rem;
}

.container {
  position: absolute;
  top: 2rem;
  right: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.market-selector {
  position: relative;
  display: inline-block;
}

.market-selected {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  background-color: #fff;
  border-radius: 8px;
  padding: 0.5rem;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.market-selected img:first-child {
  width: 24px;
  object-fit: cover;
}

.market-options {
  position: absolute;
  top: 120%;
  left: 0;
  background: white;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  list-style: none;
  margin: 0;
  padding: 4px;
  display: none;
  z-index: 20;
}

.market-selector.open .market-options {
  display: block;
}

.market-options li {
  padding: 1px 12px;
  cursor: pointer;
  transition: background 0.2s;
}

.market-options li:hover {
  background-color: #f2f2f2;
}

.market-options img {
  width: 24px;
  height: 24px;
}

#site-logo {
  width: 150px;
}

.aside {
  margin-left: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aside img {
  width: 50%;
}

ul {
  background-color: var(--background-secondary);
  padding: 1rem;
  border-radius: 8px;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  list-style: none;
}

ul li {
  font: var(--input);
}

ul li.warning {
  font: var(--label);
}

h1 {
  font: var(--title);
  text-align: center;
}

#descont-type,
.select-wrapper {
  display: none;
}

.custom-select-wrapper {
  position: relative;
  width: 100%;
  font: var(--input);
}

.custom-select-trigger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem 0.875rem;
  border: 1.5px solid var(--border-color);
  border-radius: 4px;
  background-color: var(--background-secondary);
  cursor: pointer;
  text-align: center;
}

.selected-option {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  justify-content: center;
}

.selected-option img {
  width: 16px;
  height: 16px;
}

.custom-select-trigger .arrow {
  transition: transform 0.2s ease;
}

.custom-select-wrapper.open .arrow {
  transform: rotate(180deg);
}

.custom-options {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  right: 0;
  background-color: var(--background-secondary);
  border-radius: 4px;
  border: 1.5px solid var(--border-color);
  box-shadow: var(--box-shadow);
  list-style: none;
  z-index: 10;

  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.2s ease, transform 0.2s ease, visibility 0.2s;
}

.custom-select-wrapper.open .custom-options {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.custom-options li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 0.875rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.custom-options li:not(:last-child) {
  border-bottom: 1px solid var(--border-color);
}

.custom-options li:hover {
  background-color: #f0f0f0;
}

.custom-options li img {
  width: 16px;
  height: 16px;
}

form {
  background-color: var(--background-secondary);
  padding: 1.5rem;
  border-radius: 6px;
  width: 23.75rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

hr {
  border: none;
  border-top: 1px solid var(--border-color);
}

input,
select {
  font: var(--input);
  width: 100%;
  outline: none;
  border: 1.5px solid var(--border-color);
  border-radius: 4px;
  padding: 0.625rem 0.875rem;
}

input {
  border: transparent;
  box-shadow: var(--box-shadow);
}

fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.label-group {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;

  & label {
    font: var(--label);
  }

  & img {
    margin-left: 0.25rem;
    cursor: pointer;
  }
}

.result {
  margin-top: 1rem;
  border: 1.5px solid var(--border-color);
  border-radius: 6px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;

  & > div:nth-child(2) {
    height: auto;
    width: 1px;
    background-color: var(--border-color);
  }
}

.profit,
.final-price {
  width: 45%;
}

strong {
  font: var(--label);
  background-color: var(--status-color);
  padding: 3px 10px;
  border-radius: 3px;
  color: var(--background-secondary);
  transition: background-color 0.3s ease;
}

strong.profit-high {
  background-color: var(--status-color-high);
}

strong.profit-medium {
  background-color: var(--status-color-medium);
}

strong.profit-low {
  background-color: var(--status-color-low);
}

p {
  width: 100%;
  font: var(--result);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  align-items: flex-start;
}

span {
  font: var(--cent);
}

button {
  margin-top: 1rem;
  font: var(--button);
  background-color: var(--brand-color);
  color: var(--background-secondary);
  border: none;
  outline: none;
  border-radius: 6px;
  padding: 14px 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: var(--brand-color-hover);
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  backdrop-filter: blur(4px);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal-overlay.open {
  opacity: 1;
  visibility: visible;
}

.modal-content {
  position: relative;
  background: var(--background-primary);
  border-radius: 8px;
  padding: 10px;
  width: 90%;
  max-width: 900px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  transform: scale(0.9);
  transition: transform 0.3s ease;
}

.modal-overlay.open .modal-content {
  transform: scale(1);
}

.close-button {
  position: absolute;
  top: -28px;
  right: -18px;
  width: 36px;
  height: 36px;
  background: #FFE600;
  color: #333;
  border: none;
  border-radius: 50%;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 36px;
  text-align: center;
  cursor: pointer;
  z-index: 1001;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-button:hover {
  transform: scale(1.1);
  background: #f0f0f0;
}

.video-wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 4px;
}

.video-text {
  margin-top: 1rem;
  font: var(--label);
}

.video-text span {
  font-size: 20px;
  line-height: 100%;
  color: var(--brand-color);
  margin-right: 0.5rem;
}

/* global.css (Adicionar ao final) */

/* 1. Torna o label-group o "container" para o posicionamento do tooltip */
.label-group {
  position: relative;
}

/* 2. O ícone já tem 'cursor: pointer', o que é ótimo. */

/* 3. Estilos da nova caixa de tooltip */
.tooltip {
  /* Posicionamento */
  position: absolute;
  bottom: calc(100% + 8px); /* 8px acima do ícone */
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;

  /* Aparência */
  background-color: #333; /* Cor escura, como um tooltip nativo */
  color: var(--background-secondary); /* Texto branco */
  padding: 8px 12px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

  /* Comportamento */
  width: 250px; /* Defina uma largura máxima ou fixa */
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  /* Escondido por padrão */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease, visibility 0.2s ease;
}

/* 4. Estado "Aberto" que será ativado pelo JS */
.tooltip.show {
  opacity: 1;
  visibility: visible;
}

/* 5. (Opcional) Adiciona uma setinha para baixo */
.tooltip::after {
  content: "";
  position: absolute;
  top: 100%; /* Na parte de baixo do tooltip */
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}
